.img-title{
    display: flex;
    width: 100%;
    
}
.img-title img{
    height: 50px;
    width: 50px;
    padding-right: 5px;
}
.feed-box{
    margin-left: 60px;
    padding: 10px;
    border: 1px solid gray;
    width: 80%;
}
.review-box{
    display: inline-block;
    height: auto;
    width: 33%;
}
/* .review{
    display: inline-block;
    width: 40%;
} */