.service-box{
    display: inline-block;
    
}
.img-box{
    width: 100%;
}
.img-box img{
    height: 74px;
    width: 74px;
    
}
.service{
    margin: 15px 80px 50px 15px;
    width: 300px;
    box-shadow: 10px 10px 10px lightgray;
}
.content-box{
    text-align: center;
}